/* Basic styling */
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Roboto', san-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    height: 2000px;
    color: white;
  }
  .container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
  }

  /* Styling for the accordion */
  .accordion {
    max-width: 1000px;
    margin: 20px auto;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5);
    border-width: 3px;
    transition: background-color 0.2s ease;
  }
  .accordion:hover {
    background-color: rgba(255,255,255,0.05);
  }
  .accordion-section {
    border-bottom: 1px solid #f30000;
  }
  .accordion-section:last-child {
    border-bottom: none;
  }
  .accordion-title {
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 16px;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    outline: none;
    width: 100%;
    text-align: left;
    color: white;
  }
  .accordion-content {
    max-height: 0; /*change this to 0 when done debugging*/
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    padding: 0px 5px;
    background-color: rgba(255, 255, 255, 0.15)
  }
  .accordion-content a {
    color: #e0e0e0;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
    transition: color 0.3s ease;
  }
  .accordion-content a:hover {
    color: #007bff;
  }
  .active .accordion-content {
    max-height: 500px;
  }

/* Styles for the grid layout */
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-gap: 4px;
    padding: 10px;
  }
  
  .grid-text {
    /*some things I will add later*/
    padding-left: 10px;
    text-align: left;
  }

  .grid-text li {
    margin-left: 20px; /* I have NO IDEA why it's breaking the bullet point so it will do for now */
  }

  .grid-group {
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    border-style: solid;
    border-color:rgba(0, 0, 0, 0.5);
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .grid-item {
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
  }
  
  .grid-item img {
    --tw-bg-opacity: 0.5;
    background-color: rgba(50, 50, 50,var(--tw-bg-opacity));
    max-width: 40px;
    border: #acacac;
    border-radius: 1000px;
    border-style: solid;
    border-width: 2px;
    height: 40px;
    margin-right: 10px;
    align-items: center;
  }